@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

* {
	box-sizing: border-box;
}
.main-class {
	color: #000000;
	font-weight: bold;
}
body {
	background-color: #FFC300;
	color: hsl(0, 0%, 0%);
	margin: auto;
	width: 90%;
	display: block;
	max-height: 100%;
	max-width: 900px;
}
textarea {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding: 2rem;
	font-size: 2rem;
	display: block;
	position: static;
	max-width: 800px;
}
nav {
	background-color: black;
	color: white;
	text-align: center;
	margin: auto;
	width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
	font-size: 2.5rem;
	border-bottom-right-radius: 1rem;
	border-bottom-left-radius: 1rem;
}

button {
	margin: 10px auto;
	display: block;
	text-align: center;
	padding: 0.5rem;
	font-size: 1.5rem;
}
.yodaimage {
	display: block;
	overflow: hidden;
	margin: auto;
	max-width: 30%;
	min-height: 40%;
}
a {
	color: yellow;
}
a:hover {
	color: skyblue;
}
p {
	display: block;
	font-family: 'Ibm plex mono';
}